:root {
    --obsidian: #121212;
    --carbon: #202020;
    --jet: #404040;
    --aqua: #357DED;
    --office-blue: #383F51;
    --steel: #9D9D9C;
    --silver: #EFE6DD;
    --spring: #00A676;
    --honey: #FF8000;
    --imperial-red: #FF0004;
}